
/*  Style in all pages */
body {
	padding-top: 120px;
	text-align: center;
	background-color: aquamarine;
	font-family: 'Nunito', sans-serif;
	font-family: 'Amatic SC', cursive;
	color: #1a1a1a;
}


/*  Styling in main page "index.html"  */
#my_pic {
	width: 18%;
	border-radius: 50%;
}

#name {
	color: black;
	font-size: 45pt;
}

p {
	color: orangered;
	font-size: 15pt;
	font-family: 'Amatic SC', cursive;
	font-family: 'Nunito', sans-serif;
}
#bio_main{font-size: 18pt;}








/*  Styling in hobbies page   */
.hobby_div {
	padding-left: 65px;
	text-align: left;
	transition: margin-left .5s; /* If you want a transition effect */
}

.left{float: left; width: 65%;}
.left, .right{padding-top: 0px;}

.hobby_head {
	font-size: 30pt;
	margin: 0;
}

.hobby_para {
	text-indent: 50px;
	margin: 0;
}

.hobby_pic {
	width: 25%;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hobby_favs {
	color: #1a1a1a;
}

.hobby_favs a {
	color: #1a1a1a;
	text-decoration: none;
}
.hobby_favs a:hover {color: orangered;}









/*  Sidebar styling  */

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #1a1a1a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #818181;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
	width: 50px;
	height: 100vh;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  background-color: #1a1a1a;
  color: #f1f1f1;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
	color: #818181;
}

#main {
	position: absolute;
	top: 0;
	left: 0;
  /* transition: margin-left .5s; /* If you want a transition effect */
  /* padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}